* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(90deg, #000000 0%, #00363f 50%, #470084 100%);
    overflow: hidden;
}

section h1 {
    position: relative;
    text-align: center;
    color: #fff;
    user-select: none;
    font-size: 5rem;
    text-shadow: 0px 0px 5px cyan;
    margin: 0 0.5rem;
}

section h1 span {
    position: relative;
    display: inline-block;
}

section h1 span.active {
    animation: smoke 2s linear forwards;
    transform-origin: bottom;
}

@keyframes smoke {
    0% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) translateY(0) rotate(0deg) scale(1);
        color: #018557;
    }

    50% {
        opacity: 1;
        pointer-events: none;
        color: #007e7c;
    }

    100% {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(-300px) translateY(300px) rotate(360deg) scale(4);
        color: #b3ea01;
    }
}